<div class="cover">
<div class="container">
	<div class="row">
		<section>
			<h2>管理者画面</h2>
		</section>
	</div>
	<div class="row" style="margin-top:50px">
		<div class="col-sm-3" style="font-size:20px">
			<p class=>本日の注文件数</p>
		</div>
		<div class="col-sm-9 pull-left" style="font-size:20px">

	    	<%= link_to @today_order.count, admin_orders_path(link: "top") %>件

		</div>
	</div>
</div>
</div>

