<div class="cover">
	<div class="container">
		<div class="row" style="text-align:center;padding-top:30px;">
			<!-- <div class="col-xs-12 col-xs-offset-3" style="text-align: center;"> -->
				<h1><u>About</u></h1>
		</div>
		<div class="row" style="text-align:center;padding-top:30px;">
				<h2>私たちConamonoは世界一のスイーツ取扱店を目指します。</h2><br>
		</div>
		<div class="row" style="padding-top:30px;">
			<table class="table" style="width:50%;margin:0 auto;font-size:20px;">
				<tr;>
					<th style="padding-left:50px">チーム名</th>
					<td style="padding-left:100px">Conamono</td>
				</tr>
				<tr>
					<th style="padding:20px 0px 0px 50px">所在地</th>
					<td style="padding-left:100px;">
						〒123-4567<br>
						東京都渋谷区神南1丁目20-15 3F
					</td>
				</tr>
				<tr>
					<th style="padding-left:50px">メンバー</th>
					<td style="padding-left:100px;">
						カリスマ自衛隊		上原太陽<br>
						抑えの切り札　 古田土僚<br>
						永遠の隠し玉　	鍵掛 錬<br>
						シュレッダー係	菅原 育真<br>
					</td>
				</tr>
				<tr>
					<th style="padding-left:50px">設立年月日</th>
					<td style="padding-left:100px;">2020年2月1日</td>
				</tr>
				<tr>
					<th style="padding-left:50px">営業内容</th>
					<td style="padding-left:100px;">和・洋菓子の製造・販売</td>
				</tr>
			</table>
		</div>
	</div>
</div>