<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="">
	<title>thanks</title>
</head>
<body>
	<div style= "position: absolute; top: 40%; left: 40%;">
		<h3 style= "">ご購入ありがとうございました！</h3>
	</div>
	<!-- 以下はセット -->
	<div style="margin-bottom: 50px;"></div>
	<footer></footer>
</body>
</html>