<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="">
	<title>thanks</title>
</head>
<body>
<div class="cover">
	<div>
		<h3>ご購入ありがとうございました！</h3>
	</div>
</div>
</body>
</html>