<div class= "container-fluid">
	<div class ="row">
		<div class ="col-xs-3">
			<div class ="text-right">
				<h2>会員詳細画面</h2>
			</div>
		</div>
		<div class ="col-xs-9"></div>
	</div>
	<div class = "row">
		<div class ="col-xs-2"></div>
			<div class ="col-xs-4">
				<table class ="table">
					<tbody>
						<tr>
							<th>顧客ID</th><td></td>
						</tr>
						<tr>
							<th>氏名</th><td></td>
						</tr>
						<tr>
							<th>フリガナ</th><td></td>
						</tr>
						<tr>
							<th>郵便番号</th><td></td>
						</tr>
						<tr>
							<th>住所</th><td></td>
						</tr>
						<tr>
							<th>電話番号</th><td></td>
						</tr>
						<tr>
							<th>メールアドレス</th><td></td>
						</tr>
					</tbody>
				</table>
			</div>
		<div class ="col-xs-6"></div>
	</div>
</div>

