<container>
	<div class="row">
		<div class="col-md-3">
			<ul>
				<% genres.each do |genres| %>
				<li><%= link_to genres.name, public_products_path(genre_id: genres.id) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</container>